/**
 * Blue scale
 */

:root {
  --color-blue-1:      oklch(98.5% 0.007 250);
  --color-blue-2:      oklch(97.0% 0.015 250);
  --color-blue-3:      oklch(93.5% 0.032 250);
  --color-blue-4:      oklch(89.5% 0.053 250);
  --color-blue-5:      oklch(85.0% 0.076 250);
  --color-blue-6:      oklch(79.0% 0.093 250);
  --color-blue-7:      oklch(71.0% 0.109 250);
  --color-blue-8:      oklch(60.0% 0.139 250);
  --color-blue-9:      oklch(53.4% 0.150 250);
  --color-blue-10:     oklch(47.4% 0.134 250);
  --color-blue-11:     oklch(42.0% 0.119 250);
  --color-blue-12:     oklch(22.0% 0.065 250);
  --color-blue-contrast: white;
}
