/**
 * Crimson scale
 */

:root {
  --color-crimson-1:   oklch(98.5% 0.007 10);
  --color-crimson-2:   oklch(97.0% 0.015 10);
  --color-crimson-3:   oklch(93.5% 0.033 10);
  --color-crimson-4:   oklch(89.5% 0.056 10);
  --color-crimson-5:   oklch(85.0% 0.083 10);
  --color-crimson-6:   oklch(79.0% 0.109 10);
  --color-crimson-7:   oklch(71.0% 0.129 10);
  --color-crimson-8:   oklch(60.0% 0.156 10);
  --color-crimson-9:   oklch(54.0% 0.208 10);
  --color-crimson-10:  oklch(48.0% 0.191 10);
  --color-crimson-11:  oklch(42.0% 0.167 10);
  --color-crimson-12:  oklch(22.0% 0.091 10);
  --color-crimson-contrast: white;
}
