/**
 * Cyan scale
 */

:root {
  --color-cyan-1:      oklch(98.5% 0.010 210);
  --color-cyan-2:      oklch(97.0% 0.018 210);
  --color-cyan-3:      oklch(93.5% 0.040 210);
  --color-cyan-4:      oklch(89.5% 0.061 210);
  --color-cyan-5:      oklch(84.5% 0.077 210);
  --color-cyan-6:      oklch(78.0% 0.093 210);
  --color-cyan-7:      oklch(69.0% 0.113 210);
  --color-cyan-8:      oklch(58.0% 0.100 210);
  --color-cyan-9:      oklch(52.0% 0.089 210);
  --color-cyan-10:     oklch(46.0% 0.079 210);
  --color-cyan-11:     oklch(40.0% 0.069 210);
  --color-cyan-12:     oklch(22.0% 0.040 210);
  --color-cyan-contrast: white;
}
