/**
 * Grass scale
 */

:root {
  --color-grass-1:     oklch(98.5% 0.010 145);
  --color-grass-2:     oklch(97.0% 0.018 145);
  --color-grass-3:     oklch(93.5% 0.042 145);
  --color-grass-4:     oklch(89.5% 0.067 145);
  --color-grass-5:     oklch(85.0% 0.089 145);
  --color-grass-6:     oklch(79.0% 0.105 145);
  --color-grass-7:     oklch(71.0% 0.121 145);
  --color-grass-8:     oklch(60.0% 0.147 145);
  --color-grass-9:     oklch(51.6% 0.161 145);
  --color-grass-10:    oklch(45.6% 0.143 145);
  --color-grass-11:    oklch(40.0% 0.126 145);
  --color-grass-12:    oklch(22.0% 0.072 145);
  --color-grass-contrast: white;
}
