/**
 * Indigo scale
 */

:root {
  --color-indigo-1:    oklch(98.5% 0.007 274);
  --color-indigo-2:    oklch(97.0% 0.014 274);
  --color-indigo-3:    oklch(93.5% 0.031 274);
  --color-indigo-4:    oklch(89.5% 0.050 274);
  --color-indigo-5:    oklch(85.0% 0.073 274);
  --color-indigo-6:    oklch(79.0% 0.105 274);
  --color-indigo-7:    oklch(71.0% 0.123 274);
  --color-indigo-8:    oklch(60.0% 0.150 274);
  --color-indigo-9:    oklch(52.0% 0.203 274);
  --color-indigo-10:   oklch(46.0% 0.193 274);
  --color-indigo-11:   oklch(40.0% 0.170 274);
  --color-indigo-12:   oklch(22.0% 0.099 274);
  --color-indigo-contrast: white;
}
