/**
 * Iris scale
 */

:root {
  --color-iris-1:      oklch(98.5% 0.007 280);
  --color-iris-2:      oklch(97.0% 0.014 280);
  --color-iris-3:      oklch(93.5% 0.031 280);
  --color-iris-4:      oklch(89.5% 0.051 280);
  --color-iris-5:      oklch(85.0% 0.075 280);
  --color-iris-6:      oklch(79.0% 0.089 280);
  --color-iris-7:      oklch(71.0% 0.109 280);
  --color-iris-8:      oklch(60.0% 0.139 280);
  --color-iris-9:      oklch(54.0% 0.178 280);
  --color-iris-10:     oklch(48.0% 0.168 280);
  --color-iris-11:     oklch(42.0% 0.158 280);
  --color-iris-12:     oklch(22.0% 0.094 280);
  --color-iris-contrast: white;
}
