/**
 * Mint scale
 */

:root {
  --color-mint-1:      oklch(98.5% 0.010 170);
  --color-mint-2:      oklch(97.0% 0.018 170);
  --color-mint-3:      oklch(93.5% 0.040 170);
  --color-mint-4:      oklch(89.5% 0.063 170);
  --color-mint-5:      oklch(85.0% 0.081 170);
  --color-mint-6:      oklch(79.0% 0.093 170);
  --color-mint-7:      oklch(71.0% 0.109 170);
  --color-mint-8:      oklch(60.0% 0.118 170);
  --color-mint-9:      oklch(52.0% 0.102 170);
  --color-mint-10:     oklch(46.0% 0.091 170);
  --color-mint-11:     oklch(42.0% 0.083 170);
  --color-mint-12:     oklch(22.0% 0.045 170);
  --color-mint-contrast: white;
}
