/**
 * Orange scale
 */

:root {
  --color-orange-1:    oklch(98.5% 0.009 60);
  --color-orange-2:    oklch(97.0% 0.018 60);
  --color-orange-3:    oklch(93.5% 0.041 60);
  --color-orange-4:    oklch(89.5% 0.068 60);
  --color-orange-5:    oklch(85.0% 0.100 60);
  --color-orange-6:    oklch(79.0% 0.129 60);
  --color-orange-7:    oklch(72.0% 0.148 60);
  --color-orange-8:    oklch(64.0% 0.149 60);
  --color-orange-9:    oklch(72.0% 0.177 55);
  --color-orange-10:   oklch(66.0% 0.162 55);
  --color-orange-11:   oklch(44.0% 0.109 55);
  --color-orange-12:   oklch(24.0% 0.062 55);
  --color-orange-contrast: black;
}
