/**
 * Pink scale
 */

:root {
  --color-pink-1:      oklch(98.5% 0.008 355);
  --color-pink-2:      oklch(97.0% 0.016 355);
  --color-pink-3:      oklch(93.5% 0.037 355);
  --color-pink-4:      oklch(89.5% 0.061 355);
  --color-pink-5:      oklch(85.0% 0.092 355);
  --color-pink-6:      oklch(79.0% 0.113 355);
  --color-pink-7:      oklch(71.0% 0.131 355);
  --color-pink-8:      oklch(60.0% 0.158 355);
  --color-pink-9:      oklch(56.2% 0.218 355);
  --color-pink-10:     oklch(50.2% 0.205 355);
  --color-pink-11:     oklch(46.0% 0.186 355);
  --color-pink-12:     oklch(24.0% 0.099 355);
  --color-pink-contrast: white;
}
