/**
 * Purple scale
 */

:root {
  --color-purple-1:    oklch(98.5% 0.007 285);
  --color-purple-2:    oklch(97.0% 0.015 285);
  --color-purple-3:    oklch(93.5% 0.032 285);
  --color-purple-4:    oklch(89.5% 0.053 285);
  --color-purple-5:    oklch(85.0% 0.076 285);
  --color-purple-6:    oklch(79.0% 0.103 285);
  --color-purple-7:    oklch(71.0% 0.119 285);
  --color-purple-8:    oklch(60.0% 0.147 285);
  --color-purple-9:    oklch(52.0% 0.208 285);
  --color-purple-10:   oklch(46.0% 0.198 285);
  --color-purple-11:   oklch(40.0% 0.176 285);
  --color-purple-12:   oklch(22.0% 0.099 285);
  --color-purple-contrast: white;
}
