/**
 * Red scale
 */

:root {
  --color-red-1:       oklch(98.5% 0.007 22);
  --color-red-2:       oklch(97.0% 0.015 22);
  --color-red-3:       oklch(93.5% 0.032 22);
  --color-red-4:       oklch(89.5% 0.054 22);
  --color-red-5:       oklch(85.0% 0.081 22);
  --color-red-6:       oklch(79.0% 0.109 22);
  --color-red-7:       oklch(71.0% 0.129 22);
  --color-red-8:       oklch(60.0% 0.156 22);
  --color-red-9:       oklch(54.0% 0.208 22);
  --color-red-10:      oklch(48.0% 0.192 22);
  --color-red-11:      oklch(42.0% 0.168 22);
  --color-red-12:      oklch(22.0% 0.091 22);
  --color-red-contrast: white;
}
