/**
 * Ruby scale
 */

:root {
  --color-ruby-1:      oklch(98.5% 0.008 5);
  --color-ruby-2:      oklch(97.0% 0.015 5);
  --color-ruby-3:      oklch(93.5% 0.034 5);
  --color-ruby-4:      oklch(89.5% 0.057 5);
  --color-ruby-5:      oklch(85.0% 0.085 5);
  --color-ruby-6:      oklch(79.0% 0.109 5);
  --color-ruby-7:      oklch(71.0% 0.129 5);
  --color-ruby-8:      oklch(60.0% 0.156 5);
  --color-ruby-9:      oklch(52.0% 0.208 5);
  --color-ruby-10:     oklch(46.0% 0.184 5);
  --color-ruby-11:     oklch(40.0% 0.160 5);
  --color-ruby-12:     oklch(22.0% 0.091 5);
  --color-ruby-contrast: white;
}
