/**
 * Sky scale
 */

:root {
  --color-sky-1:       oklch(98.5% 0.009 230);
  --color-sky-2:       oklch(97.0% 0.018 230);
  --color-sky-3:       oklch(93.5% 0.039 230);
  --color-sky-4:       oklch(89.5% 0.063 230);
  --color-sky-5:       oklch(85.0% 0.081 230);
  --color-sky-6:       oklch(79.0% 0.093 230);
  --color-sky-7:       oklch(71.0% 0.109 230);
  --color-sky-8:       oklch(60.0% 0.119 230);
  --color-sky-9:       oklch(52.8% 0.105 230);
  --color-sky-10:      oklch(46.8% 0.093 230);
  --color-sky-11:      oklch(42.0% 0.083 230);
  --color-sky-12:      oklch(22.0% 0.046 230);
  --color-sky-contrast: white;
}
