/**
 * Violet scale
 */

:root {
  --color-violet-1:    oklch(98.5% 0.008 295);
  --color-violet-2:    oklch(97.0% 0.016 295);
  --color-violet-3:    oklch(93.5% 0.034 295);
  --color-violet-4:    oklch(89.5% 0.056 295);
  --color-violet-5:    oklch(85.0% 0.082 295);
  --color-violet-6:    oklch(79.0% 0.103 295);
  --color-violet-7:    oklch(71.0% 0.119 295);
  --color-violet-8:    oklch(60.0% 0.147 295);
  --color-violet-9:    oklch(52.0% 0.208 295);
  --color-violet-10:   oklch(46.0% 0.198 295);
  --color-violet-11:   oklch(40.0% 0.176 295);
  --color-violet-12:   oklch(22.0% 0.099 295);
  --color-violet-contrast: white;
}
