.container {
  --container-padding: 0;
  --container-padding-x: var(--container-padding);
  --container-padding-y: var(--container-padding);
  --container-padding-top: var(--container-padding-y);
  --container-padding-right: var(--container-padding-x);
  --container-padding-bottom: var(--container-padding-y);
  --container-padding-left: var(--container-padding-x);

  --container-max-width: var(--layout-container-3);
  --container-gutter: var(--layout-container-gutter);

  --container-margin: 0;
  --container-margin-y: var(--container-margin);
  --container-margin-top: var(--container-margin-y);
  --container-margin-bottom: var(--container-margin-y);
  --container-margin-x: auto;
  --container-margin-right: var(--container-margin-x);
  --container-margin-left: var(--container-margin-x);

  padding: var(--container-padding-top)
           var(--container-padding-right)
           var(--container-padding-bottom)
           var(--container-padding-left);
  width: min(
    var(--container-max-width),
    calc(100% - (var(--container-gutter) * 2))
  );
  margin: var(--container-margin-top)
          var(--container-margin-right)
          var(--container-margin-bottom)
          var(--container-margin-left);
}
